In [2]:
import os
import pandas as pd

csv_files = [
        os.path.join("assignment", "input_1.csv"),
        os.path.join("assignment", "input_2.csv"),
        os.path.join("assignment", "input_3.csv")
    ]
columns = ["visitor_id", "site_url", "page_view_url", "timestamp"]
data_frame = pd.DataFrame()
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    df.columns = columns
    data_frame = data_frame.append(df)
df = data_frame

In [3]:
df.timestamp = pd.to_numeric(df.timestamp)

In [4]:
df

         visitor_id     site_url       page_view_url   timestamp
0      visitor_3514  www.s_9.com  www.s_9.com/page_1  1347844451
1      visitor_4039  www.s_6.com  www.s_6.com/page_1  1347844452
2       visitor_437  www.s_8.com  www.s_8.com/page_1  1347844457
3      visitor_9857  www.s_6.com  www.s_6.com/page_1  1347844458
4      visitor_6574  www.s_9.com  www.s_9.com/page_1  1347844460
...             ...          ...                 ...         ...
48752  visitor_9328  www.s_6.com  www.s_6.com/page_5  1347904973
48753  visitor_1222  www.s_9.com  www.s_9.com/page_6  1347905334
48754  visitor_1222  www.s_9.com  www.s_9.com/page_7  1347905512
48755  visitor_9328  www.s_6.com  www.s_6.com/page_7  1347905857
48756  visitor_8335  www.s_9.com  www.s_9.com/page_4  1347910665

[145964 rows x 4 columns]

In [5]:
df.sort_values(by=['site_url', 'visitor_id', 'timestamp'])["timestamp"]

4160     1347845487
7047     1347845963
8905     1347846347
2030     1347845105
4294     1347845507
            ...
33576    1347861429
33945    1347861645
34708    1347862111
4383     1347845516
7382     1347846021
Name: timestamp, Length: 145964, dtype: int64

In [6]:
df.sort_values(by=['site_url', 'visitor_id', 'timestamp'])

         visitor_id     site_url       page_view_url   timestamp
4160      visitor_1  www.s_1.com  www.s_1.com/page_1  1347845487
7047      visitor_1  www.s_1.com  www.s_1.com/page_2  1347845963
8905      visitor_1  www.s_1.com  www.s_1.com/page_3  1347846347
2030   visitor_1000  www.s_1.com  www.s_1.com/page_1  1347845105
4294   visitor_1000  www.s_1.com  www.s_1.com/page_2  1347845507
...             ...          ...                 ...         ...
33576  visitor_9998  www.s_9.com  www.s_9.com/page_4  1347861429
33945  visitor_9998  www.s_9.com  www.s_9.com/page_5  1347861645
34708  visitor_9998  www.s_9.com  www.s_9.com/page_6  1347862111
4383   visitor_9999  www.s_9.com  www.s_9.com/page_1  1347845516
7382   visitor_9999  www.s_9.com  www.s_9.com/page_2  1347846021

[145964 rows x 4 columns]

In [7]:
df.sort_values(by=['site_url', 'visitor_id', 'timestamp']).groupby("site_url").groups[:100]

TypeError: unhashable type: 'slice'

In [8]:
df.groupby("site_url").get_group('www.s_9.com')

         visitor_id     site_url       page_view_url   timestamp
0      visitor_3514  www.s_9.com  www.s_9.com/page_1  1347844451
4      visitor_6574  www.s_9.com  www.s_9.com/page_1  1347844460
18     visitor_9046  www.s_9.com  www.s_9.com/page_1  1347844475
21     visitor_7741  www.s_9.com  www.s_9.com/page_1  1347844479
34       visitor_32  www.s_9.com  www.s_9.com/page_1  1347844495
...             ...          ...                 ...         ...
48748  visitor_1222  www.s_9.com  www.s_9.com/page_4  1347904371
48750  visitor_4363  www.s_9.com  www.s_9.com/page_5  1347904508
48753  visitor_1222  www.s_9.com  www.s_9.com/page_6  1347905334
48754  visitor_1222  www.s_9.com  www.s_9.com/page_7  1347905512
48756  visitor_8335  www.s_9.com  www.s_9.com/page_4  1347910665

[14797 rows x 4 columns]

In [10]:
df.groupby("site_url").get_group('www.s_9.com').sort_values(by=['visitor_id', 'timestamp'])["visitor_id"].is_monotonic

True

In [17]:
list(df.groupby(["site_url", "visitor_id"]).groups.keys())[:10]

[('www.s_1.com', 'visitor_1'),
 ('www.s_1.com', 'visitor_1000'),
 ('www.s_1.com', 'visitor_10000'),
 ('www.s_1.com', 'visitor_1002'),
 ('www.s_1.com', 'visitor_1009'),
 ('www.s_1.com', 'visitor_1020'),
 ('www.s_1.com', 'visitor_1021'),
 ('www.s_1.com', 'visitor_1025'),
 ('www.s_1.com', 'visitor_1026'),
 ('www.s_1.com', 'visitor_1028')]

In [18]:
df.groupby(["site_url", "visitor_id"]).get_group(('www.s_1.com', 'visitor_1'))

     visitor_id     site_url       page_view_url   timestamp
4160  visitor_1  www.s_1.com  www.s_1.com/page_1  1347845487
7047  visitor_1  www.s_1.com  www.s_1.com/page_2  1347845963
8905  visitor_1  www.s_1.com  www.s_1.com/page_3  1347846347

In [19]:
grouped = df[df.site_url == "www.s_1.com"].groupby('visitor_id')

In [20]:
import time
sessions = []
session_id = 0
st = time.time()
for group in grouped.groups:
    session_id += 1
    site_visitor_visits = grouped.get_group(group)
    site_visitor_visits = site_visitor_visits.sort_values(by=['timestamp'])
    session_start = site_visitor_visits.iloc[0].timestamp
    prev_timestamp = session_start
    for e in site_visitor_visits.iterrows():
        session_duration = e[1].timestamp - session_start

        if e[1].timestamp - prev_timestamp > 60 * 30:
            session_id += 1
            session_start = e[1].timestamp
            session_duration = 0
        prev_timestamp = e[1].timestamp
        sessions.append((e[1].site_url, e[1].visitor_id, session_id, e[1].timestamp, session_duration))
        
print(time.time() - st)

4.999128580093384

In [21]:
site_visitor_visits

         visitor_id     site_url       page_view_url   timestamp
25573  visitor_9996  www.s_1.com  www.s_1.com/page_1  1347859030
26936  visitor_9996  www.s_1.com  www.s_1.com/page_2  1347859528

In [22]:
sessions_df = pd.DataFrame.from_records(sessions, columns=['site_url', 'visitor_id', 'session_id', 'timestamp', 'session_duration'])

In [23]:
sessions_df.groupby('session_id').last().session_duration.median()

1353.0

In [24]:
len(sessions_df.groupby('session_id'))

3684

In [25]:
df.groupby([df.visitor_id, df.site_url]).count()

                           page_view_url  timestamp
visitor_id   site_url
visitor_1    www.s_1.com               3          3
             www.s_10.com              3          3
             www.s_2.com               5          5
visitor_10   www.s_2.com               5          5
             www.s_3.com              12         12
...                                  ...        ...
visitor_9998 www.s_6.com               1          1
             www.s_7.com               2          2
             www.s_8.com               5          5
             www.s_9.com               6          6
visitor_9999 www.s_9.com               2          2

[30908 rows x 2 columns]

In [30]:
pd.options.display.max_rows = 4000

In [26]:
sessions_df.head(10)

      site_url     visitor_id  session_id   timestamp  session_duration
0  www.s_1.com      visitor_1           1  1347845487                 0
1  www.s_1.com      visitor_1           1  1347845963               476
2  www.s_1.com      visitor_1           1  1347846347               860
3  www.s_1.com   visitor_1000           2  1347845105                 0
4  www.s_1.com   visitor_1000           2  1347845507               402
5  www.s_1.com   visitor_1000           2  1347846003               898
6  www.s_1.com  visitor_10000           3  1347881571                 0
7  www.s_1.com  visitor_10000           3  1347882003               432
8  www.s_1.com  visitor_10000           3  1347882465               894
9  www.s_1.com   visitor_1002           4  1347866280                 0